<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Teleatel_e.Properties.Settings.Телеателье__Спектр_ConnectionString"
            connectionString="Data Source=DESKTOP-7PH2PHN;Initial Catalog='Телеателье &quot;Спектр&quot;';Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Teleatel_e.Properties.Settings.Телеателье__Спектр_ConnectionString1"
            connectionString="Data Source=DESKTOP-7PH2PHN;Initial Catalog='Телеателье &quot;Спектр&quot;';Persist Security Info=True;User ID=User1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>